.content-scroll_wrapper-3::-webkit-scrollbar-button {
	background-image: url('');
	background-repeat: no-repeat;
	width: 7px;
	height: 0px;
}

.content-scroll_wrapper-3::-webkit-scrollbar-track {
	background-color: #e9e9ee;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 0px 0px 0px #000 inset;
}

.content-scroll_wrapper-3::-webkit-scrollbar-thumb {
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background-color: #e03437;
	box-shadow: 0px 0px 0px #fff inset;
	background-image: url();
	background-position: center;
	background-repeat: no-repeat;
}

.content-scroll_wrapper-3::-webkit-resizer {
	background-image: url('');
	background-repeat: no-repeat;
	width: 7px;
	height: 0px;
}

.content-scroll_wrapper-3::-webkit-scrollbar {
	width: 7px;
}

.content-scroll_wrapper-2::-webkit-scrollbar-button {
	background-image: url('');
	background-repeat: no-repeat;
	width: 7px;
	height: 0px;
}

.content-scroll_wrapper-2::-webkit-scrollbar-track {
	background-color: #e9e9ee;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 0px 0px 0px #000 inset;
}

.content-scroll_wrapper-2::-webkit-scrollbar-thumb {
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background-color: #e03437;
	box-shadow: 0px 0px 0px #fff inset;
	background-image: url();
	background-position: center;
	background-repeat: no-repeat;
}

.content-scroll_wrapper-2::-webkit-resizer {
	background-image: url('');
	background-repeat: no-repeat;
	width: 7px;
	height: 0px;
}

.content-scroll_wrapper-2::-webkit-scrollbar {
	width: 7px;
}

.content-scroll_wrapper::-webkit-scrollbar-button {
	background-image: url('');
	background-repeat: no-repeat;
	width: 7px;
	height: 0px;
}

.content-scroll_wrapper::-webkit-scrollbar-track {
	background-color: #e9e9ee;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 0px 0px 0px #000 inset;
}

.content-scroll_wrapper::-webkit-scrollbar-thumb {
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background-color: #e03437;
	box-shadow: 0px 0px 0px #fff inset;
	background-image: url();
	background-position: center;
	background-repeat: no-repeat;
}

.content-scroll_wrapper::-webkit-resizer {
	background-image: url('');
	background-repeat: no-repeat;
	width: 7px;
	height: 0px;
}

.content-scroll_wrapper::-webkit-scrollbar {
	width: 7px;
}

.w-slider-dot {
	width: 7px !important;
	height: 7px !important;
	margin-right: 10px;
	margin-left: 10px;
	background: transparent;
	border: 1px solid #dbdbdb;
	transition: 300ms !important;
}

.w-slider-dot::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background: #dbdbdb;
}

.w-slider-dot.w-active {
	background: transparent;
	border: 1px solid #e03437;
	margin-right: 10px;
	margin-left: 10px;
}

.w-slider-dot.w-active::before {
	background: #e03437;
}

select-field w-select {
	padding-right: 20px;
}